html,
body {
    width: 100%;
  height: 100%;
  background-color: #fff;
  text-align:center;
}
#logo {
    max-width:760px;
    text-align: center;
}
#home {
    text-align: left;
    margin: 0px auto;
    width: 760px;
    float: none;
}

#navigation .inner {
    margin: 0 auto;
    max-width: 760px;
    text-align: center;
}